label{ 
    color: #00008b;}

.label-gracias {
    text-align: right;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h1 + p {
    font-family: 'Courier New', Courier, monospace;

}

    