body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: burlywood;
    color: #fff;
    padding: 20px 20px 20px 20 px;

}

.header h1{
    margin: 0;
}

.content {
    max-width: 200px;
    margin: 0;
    padding: 20px 20px 20px 20px; 

}

.main {
    flex: 4;
    
}

.section {

}

.section h2 {

}

.menu {
    flex: 1;
    background: #aff333;
    padding: 10px;
}