body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #add8e6;
    color: #00008b;

}

.header {
    background-color: brown;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin: 2cm;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
        


}

.header #profilePic  {
    
    float:right;
    border-image: round 5px;
    

}

.content {
    max-width: 300px;
    margin: 2cm;
    padding: 20px 20px 20px 20px; 
    background-color: rgb(1, 20, 56);
    font-size: large;
    color:#ffffff;
    
}
ul {list-style-type: none;}


a :hover{
    color:red
}
a:visited{
    color:purple
}

#Contact {
    position: center;
    
}