body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #add8e6;
    color: #00008b;

}

.header {
    background-color: brown;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin-left: 2cm;
    margin-right: 2cm;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;

}

.header #profilePic  {
    
    float:right;
    border-image: round 10px;
    

}

.content {
    max-width: 100%;
    margin-left: 2cm;
    margin-right: 2cm;
    padding: 10px 10px 10px 10px; 
    background-color: rgb(1, 20, 56);
    font-size: large;
    color:#ffffff;
    
}
ul {
    list-style-type: none;
    

    overflow: hidden;
}

li {
    float: left;
    min-width:max-content ;
    display: block;
    text-align: center;
    block-size: 20px;
    
}



li:hover {
    background-color: #add8e6;
    max-width: fit-content;
}

a :hover{
    color:red
}
a:visited{
    color:purple
}

.Contact {
    position: center;
    
}